{
  "extends": ["next", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "import/order": [
      "error",
      {
        "groups": [["external", "internal"], "parent", "sibling"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "external",
            "position": "after"
          }
        ]
      }
    ],
    "sort-imports": [
      "error",
      {
        "ignoreMemberSort": false,
        "ignoreDeclarationSort": true
      }
    ],
    "import/no-default-export": "error",
    "@typescript-eslint/no-explicit-any": "error"
  }
}
